body {
    margin: 0;
    padding: 0;
    background-image: url(Imagem/fundo-verde.png);
    color: #ffffff;
    font-family: "Arial", sans-serif;
    background-attachment: fixed;
}

header {
    background-color: #447235; /* verde escuro */
    color: #8fc27d; /* verde claro */
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Arial", sans-serif;
    border-bottom: 3px solid #5d9949; /* detalhe verde médio */
}

header h1 {
    font-size: 22px;
    margin: 0;
}

header nav a {
    color: #8fc27d;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #9fbc96; 
}

.titulo {
    color: #8fc27d;
    text-align: justify;
}

footer {
    background-color: #447235; /* verde escuro */
    color: #8fc27d; /* verde claro */
    text-align: center;
    padding: 20px 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    border-top: 3px solid #5d9949; /* detalhe verde médio */
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a {
    color: #9fbc96;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #9fbc96; 
}

footer .social-icons {
    margin-top: 10px;
}

footer .social-icons a {
    display: inline-block;
    margin: 0 5px;
    font-size: 18px;
}

.card {
    align-items: center;
    background-color: #f0fff0; /* tom claro de verde/Branco */
    border: 5px solid #1CC875;
    color: #1CC875;
    border-radius: 8px;
    padding: 15px;
    margin: 15px 0;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;    
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.btn-ajuda {
    background-color: #bbdcaf; /* verde claro */
    color: #395e2d;
    border: none;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.container-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 15px;
}
.container-02 {
    background-color: #8fc27d;
    justify-content: center;
    text-align: center;
    margin:0 auto;
    width: 300px;
    height: 250px;
    position: center;
    margin-top: 100px;
    margin-bottom: 110px;
    border-radius: 10px;
    padding-top: 20px;
}

.input01 {
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    margin-top: 25px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input02 {
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    margin-top: 25px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.mensagemverifique {
    font-size: large;
    color:#395e2d;
    font-weight: bold;
    display: block;
}